<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>{{TITLE}}</title>

  <style type="text/css">
    /* Let content go to the edges */
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #000;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <script src="{{SRC}}"></script>
</body>
</html>
